.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*

# Exclude Demo Files
assets/snippetfuse-demo.gif
assets/snippetfuse-demo.mp4